@import "tailwindcss";

@theme {
  --color-primary: #3b82f6; /* Xanh nước biển hiện đại */
  --color-primary-dark: #2563eb;
  --color-background-app: #121212; /* Warm Dark (Đen ấm dịu mắt) */
  --color-surface: #1e1e1e; /* Màu nền thẻ xám ấm */
  --color-border: rgba(255, 255, 255, 0.08); /* Viền xám siêu mờ */
  --font-display: "Inter", sans-serif;
  --font-sans: "Inter", sans-serif;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #000000; /* Nền ngoài cùng là đen tuyền để làm viền cho app */
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center; /* Căn giữa app trên màn hình PC */
}

/* Ẩn thanh cuộn cho danh sách */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
