@import "tailwindcss";

@theme {
  --color-primary: #ffffff; /* Trắng tối giản (Monochrome) */
  --color-primary-dark: #cccccc;
  --color-background-app: #0a0a0a; /* Đen sâu */
  --color-surface: #141414; /* Xám đen nền card */
  --color-border: rgba(255, 255, 255, 0.15); /* Viền xám nhạt */
  --font-display: "Inter", sans-serif;
  --font-sans: "Inter", sans-serif;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #000000; /* Nền ngoài cùng là đen tuyền để làm viền cho app */
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center; /* Căn giữa app trên màn hình PC */
}

/* Ẩn thanh cuộn cho danh sách */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
